@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --orange: #ff9f43;
}

.orange {
    color: var(--orange) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

p {
    font-family: "Poppins", sans-serif;
}

button {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

#hero {
    height: 230px;
}


#hero nav {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.61);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    z-index: 2;
}

#hero nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#hero nav ul:first-child {
    color: black;
}

.active {
    color: var(--orange);
}

a {
    text-decoration: none;
    color: inherit;
}

#hero .txt {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hero .txt h1 {
    font-size: 50px;
    color: var(--orange);
}

#hero .txt p {
    width: 50%;
    text-align: center;
}

#travel-stories {
    margin: 100px;
}

#travel-stories h2,
#categories .txt h2 {
    font-size: 30px;
}

#travel-stories p,
#categories .txt p {
    width: 50%;
}

#travel-stories .posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3fr, 50px);
    gap: 20px;
    margin-top: 30px;
}

#travel-stories .posts .pst {
    position: relative;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 3px rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#travel-stories .pst img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#travel-stories .pst .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: 10px;
    color: white;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.829) 97%);
}

#travel-stories .pst .txt h4 {
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 600;
}

#travel-stories .pst .txt p {
    font-size: 13px;
}

#categories {
    margin: 100px;
}

#categories .cats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#categories .cats .bx {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 120px;
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(167, 167, 167);
}

#categories .cats .bx:hover{
    transform: scale(1.05);
}




#categories .cats .bx:nth-child(2),
#categories .cats .bx:nth-child(4) {
    background-color: var(--orange);
    color: white;
}

#categories .cats .bx .line {
    height: 100%;
    border-left: 5px solid var(--orange);
    transform: rotate(90deg) translateY(-60px);
    transform-origin: left;
    transition: 0.5s;
}


#categories .cats .bx .line.active{
    transform:rotate(90deg)  translateY(-10px);
}
#categories .cats .bx .line.active::after{
    transform:scale(2.5);
}

#categories .cats .bx .line-even.active{
    transform:rotate(90deg)  translateY(-10px);
}
#categories .cats .bx .line-even.active::after{
    transform:scale(2.5);
}

#categories .cats .bx .line-even{
    height: 100%;
    border-left: 5px solid white;
    transform: rotate(90deg) translateY(-50px);
    transform-origin: left;
    transition: 0.5s;
}


#categories .cats .bx .line-even::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -14px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 100%;
    transition: 0.5s;
}


#categories .cats .bx .line::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -14px;
    height: 20px;
    width: 20px;
    background-color: var(--orange);
    border-radius: 100%;
    transition: 0.5s;
}


#categories .cats .bx i {
    position: absolute;
    margin-left: 220px;
    font-size: 25px;
    background-color: var(--orange);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    color: white;
    border-radius: 300px;
    transition: 0.5s;

}

#categories .cats .bx .i-even{
    background-color: white;
    color: var(--orange);
}

#categories .cats .bx .content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    margin: 40px 30px 40px 33%;
    width: 70%;
}

#categories .cats .bx i.active{
   transform: translateX(-180px);
}

#categories .cats .bx .content h3 {
    font-size: 27px;
    color: var(--orange);
}

#categories .cats .bx .content .h3-even{
    color: white;
}

#categories .cats .bx .content p {
    font-size: 15px;
    color: var(--orange);
}

#categories .cats .bx .content .p-even{
    color: white;
}

#categories .cats .bx .content p {
    padding-bottom: 5px;
}

#categories .cats .bx .content .topics {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    border-top: 1px dashed var(--orange);
}

#categories .cats .bx .content .topic-even{
    border-top: 1px dashed white;
}

#categories .cats .bx .content .topics span {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: var(--orange);
    border-radius: 3px;
    padding: 0px 5px;
}

#categories .cats .bx .content .topics .span-even{
    color: var(--orange);
    background-color: white;
}

#categories .cats .bx .content .topics p {
    padding: 0px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

hr{
    border:1px solid  var(--orange);
}

footer p{
    margin-top: 10px;
}

