@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



:root{
    --orange : #ff9f43;
}

.orange{
    color: var(--orange) !important;
}

/* #cursor-circle{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: dodgerblue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
} */



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

p {
    font-family: "Poppins", sans-serif;
}

button {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

#hero h1 {
    font-size: 60px;
    color: white;
}

#hero p {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

#hero nav{
    position: absolute;
    top: 20px;
    color: rgba(255, 255, 255, 0.61);
    font-family: 'Poppins' , sans-serif;
    font-weight: 500;
}

#hero nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.active{
    color: var(--orange);
}

a{
    text-decoration: none;
    color: inherit;
}

#hero nav ul li{
    cursor: pointer;
}

#hero nav ul li:hover{
    color: var(--orange);
}

#hero {
    height: 95vh;
    width: 100%;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    height: 95vh;
    object-fit: cover;
    z-index: -1;
}

#hero {
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    content: "";
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero .search_bar{
    position: absolute;
    bottom: -35px;
    height: 100px;
    width: 90%;
    margin: 10px 100px;
    background-color: white;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero .search_bar .search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgba(255, 94, 0, 0.7);
    padding: 5px 10px;
    width: 40%;
}

#hero .search_bar .search i{
    font-size: 20px;
    color:rgba(255, 94, 0, 0.7);
    cursor: pointer;
}

#hero .search_bar .search input::placeholder{
    color: rgba(255, 94, 0, 0.5);
    font-family: 'Lato' , sans-serif;
}

#hero .search_bar .search input{
    padding: 5px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 100%;
}

#hero .search_bar .enter{
    padding: 8px 20px;
    margin: 0;
    font-size: 15px;
}


#hero button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: white !important;
    transition: 0.5s;
    cursor: pointer;
}

#hero button:hover {
    letter-spacing: 1px;
}

#featured {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#featured h1 {
    font-size: 40px;
}

#featured .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#featured .card {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 350px;
    height: 400px;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#featured .card:hover{
    transform: scale(1.05);

}


#featured .card .bx .txt {
    padding: 10px;
}

#featured .card .bx .txt p:last-child {
    color: rgb(78, 78, 78);
    font-size: 13px;
    line-height: 16px;
    padding-top: 10px;
}

#featured .card .bx div .head {
    font-weight: bold;
    color: var(--orange);
    opacity: 0.5;
}

#featured .card .bx div h3 {
    font-size: 27px;
}


#featured .card div img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

#featured button {
    padding: 10px 30px;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid var(--orange);
    cursor: pointer;
    transition: 0.5s;
}

#featured button:hover {
    color: white !important;
    background-color: var(--orange);
}

#testi {
    position: relative;
    margin: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    height: 250px;
}

#testi .head {
    height: 250px;
    width: 400px;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: white;
    border-right: 1px solid rgba(255, 94, 0, 0.199);
}

#testi .head h1 {
    font-size: 40px;
    line-height: 45px;
    padding-bottom: 10px;
}

#testi .head p {
    letter-spacing: 1px;
}



#testi button {
    padding: 5px 15px;
    background-color: transparent;
    margin-top: 10px;
    border: 2px solid var(--orange);
    transition: 0.2s;
    cursor: pointer;
}

#testi button:hover{
    background-color: var(--orange);
    color: white !important;
    transform: scale(1.1);
}


#testi .slides {
    width: calc(350px * 6);
    position: relative;
    height: 250px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    left: 420px;
    z-index: -1;
    animation: scroll 10s linear infinite;
}

.slide {
    position: relative;
    width: 350px;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
    padding: 20px;
    z-index: 4;
}



.slide .img{
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom:20px ;
    left: 20px;
}
.slide .img span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}

.slide .img span h3 , .slide .img span h5{
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    line-height: 17px;
}

.slide img{
    height: 50px;
    border-radius: 100%;
}

.slide p{
    height: 100px;
    overflow: hidden;
    font-size: 13px;
    font-style: italic;
    color: rgb(77, 77, 77);
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-350px * 4));
    }
}


#cta{
    height: auto;
    width: auto;
    margin: 100px;
    background-color: rgba(255, 94, 0, 0.03);
    border-radius: 10px;
    padding: 20px;
}

#cta input{
    background: transparent;
    border: 2px solid var(--orange);
    font-size: 14px;
    padding: 10px;
    width: 400px;
    outline: none;
}

#cta button{
    padding:3px 15px;
    border: 2px solid var(--orange);
    color: white;
    background-color: var(--orange);
    transition: 0.2s;
    cursor: pointer;
}

#cta .input input::placeholder{
    color: var(--orange) !important;
    font-family: 'Lato' ,sans-serif;
}

#cta button:hover{
    transform: scale(1.1);
}

#cta .input{
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

#followus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    padding: 20px;
    background-color: rgba(255, 94, 0, 0.03);
}

#followus h1{
    font-size: 35px;
}

#followus .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;

}

#followus .icons i{
    font-size: 20px;
    cursor: pointer;
    color: var(--orange);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr{
    border:1px solid  var(--orange);
}

footer p{
    margin-top: 10px;
}

@media screen and (max-width:1024px){
    #featured .card {
        width: 300px;
    }   
    #featured .card div img{
        width: 300px;
    }

}

@media screen and (max-width:768px){
    #featured .card{
        width: 220px;
    }

    #featured .card div img{
        width: 220px;
        height: 220px;
    }

    #testi {
        margin: 110px 50px;
    }

     #testi .head {
        width: 250px;
     }

    #testi .head h1{
        font-size: 30px;
    }

     #testi .head p{
        font-size: 15px;
        line-height: 16px;
     }

     #testi button{
        font-size: 16px;
     }
}

@media screen and (max-width:425px){

        #featured .cards{
        flex-direction: column;
        gap: 10px;
    }

    #featured .card{
        width: 90%;
        height: auto;
        margin-top: 10px;
    }

    #hero .search_bar{
        flex-direction: column;
        height: auto;
        bottom: -200px;
    }

    #hero .search_bar .search{
        width: 90%;
    }

     #featured{
        margin-top: 300px;
     }

     #featured h1 , #featured p{
        text-align: center;
     }

     #featured .card div img{
        width: 100%;
     }

     #featured .card .bx div .head{
        text-align: start;
     }

     #featured .card .bx .txt p:last-child{
        text-align: start;
     }

    #cta{
        width: 100%;
        margin: 0px auto;
        border-radius: 0px;
    }

    #testi {
        height: auto;
    }

    #testi .head {
        width: 100%;
        border: none;
    }

    #testi .slide-track{
        z-index: 6;
        margin-top: 200px;
    }


@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-350px * 7));
    }
}

footer{
    text-align: center;
}

#followus{
    text-align: center;
}
}


@media screen and (max-width:375px){
    #hero h1{
        font-size: 30px;
    }

    #hero p{
        font-size: 13px;
    }

    #hero button{
        font-size: 15px;
    }

    #cta button{
       padding: 5px 3px;
       font-size: 15px;
    }

    footer{
        font-size: 16px;
        margin: 0px 20px;
    }

    #featured p{
        margin-bottom: 20px;
        font-size: 15px;
    }

    #featured .card .bx div .head{
        margin-bottom: 0px;
    }

    #featured button{
        font-size: 15px;
    }
}

@media screen and (max-width:320px){
    #hero{
        height: 60vh;
        width: 100%;
    }

    #hero h1{
        margin-top: 200px;
    }

    #hero p{
        width: 80%;
    }

    #featured{
        margin-top: 450px;
    }

    #featured h1{
        font-size: 30px;
    }

    #featured p{
        font-size: 13px;
    }

    #featured .card .bx .txt p:last-child {
        padding: 0px;
        margin-bottom: 3px;
    }

    #testi{
        width: 95%;
        margin: 0px auto;
    }

    #cta{
        margin-top: 100px;
    }

    #cta p{
        font-size: 13px;
    }

    #cta .input{
        flex-direction: column;
    }

    #cta .input input{
        margin: 0px auto;
        width: 90%;
    }

    #cta .input button{
        padding: 3px 10px;
    }

    #followus p{
        font-size: 13px;
    }

    footer{
        font-size: 13px;
    }
}
